In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
tweets_list = []

for i, tweet in enumerate(sntwitter.TwitterSearchScraper(f"eskom since:2022-03-09 until:2022-07-16").get_items()):
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount, tweet.user.displayname, tweet.lang])

In [7]:
tweets_df = pd.DataFrame(tweets_list, columns=["datetime", "tweet_id", "text", "username", "like_count", "display_name", "lang"])

In [8]:
tweets_df.head()

,datetime,tweet_id,text,username,like_count,display_name,lang
0,2022-07-15 23:56:53+00:00,1548094282900221953,The government is considering creating a secon...,TimesLIVE,85,Times LIVE,en
1,2022-07-15 23:54:59+00:00,1548093802857934849,@lebomosebetsi Selo se se dirwang ke @Eskom_SA...,Dan24Stock,0,𝗗𝗮𝗻𝗶𝗲𝗹 🇿🇦 𝗦𝘁𝗼𝗰𝗸.,tl
2,2022-07-15 23:50:41+00:00,1548092722166132738,@nickhedley The only way to fix the current en...,KingTNgema,0,Born A King,en
3,2022-07-15 23:43:00+00:00,1548090785450434566,@Pastorransley He has awarded himself. \n\nHe...,Constitution_94,0,Constitution First 🇿🇦,en
4,2022-07-15 23:40:14+00:00,1548090089334382596,Also @Eskom_SA ???,katleho_katlii,0,Katleho. 🍫,en

In [9]:
tweets_df.tail()

,datetime,tweet_id,text,username,like_count,display_name,lang
310685,2022-03-09 00:41:59+00:00,1501357598146277378,"where are the live streams, eskom😭😭😭😭 #BBMzansi",heidi_ubaby,0,Ubaby ka baby,en
310686,2022-03-09 00:37:49+00:00,1501356546139295745,@MkhulekoHlengwa @MbalulaFikile @CyrilRamaphos...,ItsRadebe,4,Andile,en
310687,2022-03-09 00:25:05+00:00,1501353343540613121,@Eskom_SA @SABCNews @eNCA @Newzroom405 @ewnrep...,Rhymethirst,0,George,en
310688,2022-03-09 00:08:41+00:00,1501349215926116359,Eskom Power Failure due to loadshedding (02:08...,AureoleManor,0,Aureole Manor,en
310689,2022-03-09 00:01:56+00:00,1501347517925052417,Russian invasion spells disaster for diesel-gu...,lovabledaniels_,0,Lovable Daniels,in

In [11]:
tweets_df.to_csv('raw_data.csv', index=False)